@font-face {
	font-family: "Source Han Serif Subset CN";
	font-weight: 400;
	src: url("../fonts/SourceHanSerifCN-Regular.subset.woff2") format("woff2"),
		 url("../fonts/SourceHanSerifCN-Regular.subset.woff") format("woff"),
		 url("../fonts/SourceHanSerifCN-Regular.subset.otf") format("opentype");
}

@font-face {
	font-family: "Source Han Serif Subset CN";
	font-weight: 700;
	src: url("../fonts/SourceHanSerifCN-Bold.subset.woff2") format("woff2"),
		 url("../fonts/SourceHanSerifCN-Bold.subset.woff") format("woff"),
		 url("../fonts/SourceHanSerifCN-Bold.subset.otf") format("opentype");
}

@font-face {
	font-family: "Source Han Serif Subset CN";
	font-weight: 900;
	src: url("../fonts/SourceHanSerifCN-Heavy.subset.woff2") format("woff2"),
		 url("../fonts/SourceHanSerifCN-Heavy.subset.woff") format("woff"),
		 url("../fonts/SourceHanSerifCN-Heavy.subset.otf") format("opentype");
}
