<div class="container" style="padding-bottom: {{ include.height | times: 100.0 | divided_by: include.width }}%">
	<iframe src="{{ include.src }}" width="{{ include.width }}" height="{{ include.height }}" allowfullscreen></iframe>
</div>
