@mixin source-han-serif-web-font-face($locale, $weight, $name) {
	@font-face {
		font-family: "Source Han Serif Web " + $locale;
		font-weight: $weight;

		src: url("https://jdh8.github.io/source-han-serif/SourceHanSerif#{$locale}-#{$name}.woff2") format("woff2"),
		     url("https://jdh8.github.io/source-han-serif/SourceHanSerif#{$locale}-#{$name}.woff") format("woff");
	}
}

@mixin source-han-serif-web($locale) {
	@include source-han-serif-web-font-face($locale, 200, "ExtraLight");
	@include source-han-serif-web-font-face($locale, 300, "Light");
	@include source-han-serif-web-font-face($locale, 400, "Regular");
	@include source-han-serif-web-font-face($locale, 500, "Medium");
	@include source-han-serif-web-font-face($locale, 600, "SemiBold");
	@include source-han-serif-web-font-face($locale, 700, "Bold");
	@include source-han-serif-web-font-face($locale, 900, "Heavy");
}

@include source-han-serif-web("TW");
@include source-han-serif-web("CN");
