$names: "", "ExtraLight", "Light", "Regular", "Medium", "SemiBold", "Bold", "", "Heavy";

@mixin source-han-serif($locale, $weight: 400, $name: nth($names, $weight / 100)) {

	@font-face {
		font-family: "Source Han Serif Web " + $locale;
		font-weight: $weight;
		unicode-range: U+11??, U+2E00-9FFF, U+A960-A97F, U+AC00-D7FF, U+F900-FAFF, U+FE1?, U+FE30-FE6F, U+FF00-FFEF, U+2????;
		src: url("https://jdh8.github.io/source-han-serif/SourceHanSerif#{$locale}-#{$name}.woff2") format("woff2"),
		     url("https://jdh8.github.io/source-han-serif/SourceHanSerif#{$locale}-#{$name}.woff") format("woff"),
		     url("https://jdh8.github.io/source-han-serif/SourceHanSerif#{$locale}-#{$name}.otf") format("opentype");
	}
}
