@mixin source-han-serif($locale, $weight: 400) {
	$names: "", "ExtraLight", "Light", "Regular", "Medium", "SemiBold", "Bold", "", "Heavy";
	$name: nth($names, $weight / 100);

	@font-face {
		font-family: "Source Han Serif Web " + $locale;
		font-weight: $weight;
		src: url("https://jdh8.github.io/source-han-serif/SourceHanSerif#{$locale}-#{$name}.woff2") format("woff2"),
		     url("https://jdh8.github.io/source-han-serif/SourceHanSerif#{$locale}-#{$name}.woff") format("woff"),
		     url("https://jdh8.github.io/source-han-serif/SourceHanSerif#{$locale}-#{$name}.otf") format("opentype");
	}
}
