@font-face {
	font-family: "Noto Serif " + $locale;
	font-weight: 200;
	src: local("Noto Serif #{$locale} ExtraLight"),
	     local("NotoSerif#{$locale}-ExtraLight"),
	     url("../fonts/NotoSerif#{$locale}-ExtraLight.otf");
}

@font-face {
	font-family: "Noto Serif " + $locale;
	font-weight: 300;
	src: local("Noto Serif #{$locale} Light"),
	     local("NotoSerif#{$locale}-Light"),
	     url("../fonts/NotoSerif#{$locale}-Light.otf");
}

@font-face {
	font-family: "Noto Serif " + $locale;
	font-weight: 400;
	src: local("Noto Serif #{$locale} Regular"),
	     local("NotoSerif#{$locale}-Regular"),
	     url("../fonts/NotoSerif#{$locale}-Regular.otf");
}

@font-face {
	font-family: "Noto Serif " + $locale;
	font-weight: 500;
	src: local("Noto Serif #{$locale} Medium"),
	     local("NotoSerif#{$locale}-Medium"),
	     url("../fonts/NotoSerif#{$locale}-Medium.otf");
}

@font-face {
	font-family: "Noto Serif " + $locale;
	font-weight: 600;
	src: local("Noto Serif #{$locale} SemiBold"),
	     local("NotoSerif#{$locale}-SemiBold"),
	     url("../fonts/NotoSerif#{$locale}-SemiBold.otf");
}

@font-face {
	font-family: "Noto Serif " + $locale;
	font-weight: 700;
	src: local("Noto Serif #{$locale} Bold"),
	     local("NotoSerif#{$locale}-Bold"),
	     url("../fonts/NotoSerif#{$locale}-Bold.otf");
}

@font-face {
	font-family: "Noto Serif " + $locale;
	font-weight: 900;
	src: local("Noto Serif #{$locale} Heavy"),
	     local("NotoSerif#{$locale}-Heavy"),
	     url("../fonts/NotoSerif#{$locale}-Heavy.otf");
}

